
body{
    background-color: gainsboro;
}
.box{
    background-color: blueviolet;
    height: 120px;
    width: 100%;

}
.i{
    text-align: center;
    background-color: aqua;
    height: 70px;
    width: 100%;
    
}
