
body{
    background-color: gainsboro;
}
.box{
    background-color: blueviolet;
    height: 120px;
    width: 100%;
    display: none;

}
.i{
    text-align: center;
    background-color: aqua;
    height: 70px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 9px 9px 6px black;
}
